.container{
    padding-left: 220px;
    padding-right: 120px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container input{
    width: 32rem;
    height: 30px;
    border:2px solid black ;
    border-radius: 10px;
    
}
.container1{
    padding-left: 220px;
    padding-right: 120px;
    padding-top: 10px;
}
#secondedition{
    padding-left: 220px;
    padding-right: 120px;
    color: gray;
}